@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Quicksand:wght@600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--baloo-bhai);
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

:root {
    --baloo-bhai: 'Baloo 2', cursive;
    --quick-sand: 'Quicksand', sans-serif;
    --primary-color: royalblue;
    --bg-color: black;
    --font-color: white;
}

#header {
    text-align: center;
    padding: 20px;
    margin: 2px auto;
    color: var(--primary-color);
}

#input-box {
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 20px;
    width: 70vw;
    height: 300px;
    border: 2px solid black;
}

#check-btn {
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 10px;
}

#output-result {
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    width: 70vw;
    height: 150px;
    padding: 20px;
}